*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}

*:focus {
	outline: 0;
}

html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

body {
	font-size: .75em;
	color: #303030;
	background: #f7f7f7;
	margin: 0;
	min-width: 320px;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* position: relative; */
}

.main-wrapper {
	overflow: auto;
}

section:nth-child(odd), footer {
	background-color: rgba(84, 124, 173, .6);
}

section:nth-child(odd) h1, section:nth-child(odd) h2 {
	color: #f7f7f7;
}

section:nth-child(even) h1, section:nth-child(even) h2 {
	color: #547cad;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(imgs/dropdown.png) right / 2em no-repeat white;
}

footer {
	color: #f7f7f7;
}

ul {list-style: none;}

button {
	-webkit-appearance: none;
	margin: 0;
}

/* Generic classes */

.container {
	height: 100%;
	margin: 0 auto;
	max-width: 1024px;
	overflow: hidden;
	padding: 2em;
	width: 100%;
}

.button {
	-webkit-appearance: none;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	padding: 1em;
	text-transform: uppercase;
	width: 100%; 	/* remove width on media query */
}

a, select, button {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.padding {
	padding: 2em 0;
}

.vertical-line {
	content: '';
	width: 1px;
	background: #303030;
	margin: 0 1em;
}

.h-line {
	content: '';
	height: 1px;
	background: #303030;
	margin: 1em 0;
}

.center {
	text-align: center;
}

.only-desktop {
	display: none;
}

/* Helpers */

.col2 {
	align-content: space-between;
	align-items: inherit;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.col {
	width: 100%;
}

.col3 {
	padding: 0 0 1em 0;
}

.absolute {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.circle {
	border-radius: 50%;
	width: 100%;
}

.center {
	text-align: center;
}
/*
.right {
	justify-content: center;
} */

.space {
	margin: 0 1em;
}

.backwhite {
	background: #f7f7f7;
}

.white {
	color: #f7f7f7;
}

/* Fonts */

h1, h2 {
	font-weight: 900;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 3.5em;
	margin-bottom: .5em;
	/*font-size: 5em;*/
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
}

/* Header */

.header {
	background: #fffffe;
	z-index: 2;
	width: 100%;
	border-bottom: 2px solid rgba(84, 124, 173, .6);
}

	.header .container {
		padding-top: 1em;
		padding-bottom: 1em;
	}

.speedy-logo {
	width: 8em;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header-nav {
	display: inherit;
	transform: translateX(150%);
}

.ham-button {
	background: none;
	border: 0;
	bottom: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 3em;
	z-index: 2;
}

	.ham-button img {
		width: 100%;
		vertical-align: middle;
	}

.ham-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fffffe;
	padding: 6em 2em;
	width: 60%;
	text-align: center;
	transform: translateX(100%);
	transition: .2s all ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ham-menu > * {
	margin: .5em 0;
}

.header-nav-item {
	color: #545451;
	display: block;
	font-size: 1.5em;
	font-weight: 900;
	font-family: 'Oswald', sans-serif;
}

/* Main */

.splash {
	background: url('imgs/speedybanner.png') no-repeat center;
	background-size: cover;
	margin: 0;
	height: 40em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splash-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.splash-text {
	width: 100%;
	/* margin: auto; */
}

.splash-text h1 {
	font-size: 5em;
	margin-bottom: 0;
}

.splash-contact {
	bottom: 0;
	left: 0;
	margin-top: 2em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.splash-contact a:first-child {
	margin-bottom: 1em;
	/* margin-right: 3em; on media query */
}

.list-description,
.list-prices {
  padding: 0 0 0 0em;
}

.list-description li:before {content: ' ✓ ';}

.list-description li,
.list-prices li {
	font-size: 1.25em;
	margin: 1em 0;
}

.list-prices li:not(:last-child):before {content: ' - ';}

span {display: block;}

@media (min-width: 425px) {
	.list-description,
	.list-prices {
		padding-left: 2em;
	}
}

/* Review Card */

.review-card-wrapper {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}

.review-card {
	align-items: center;
	background: #f7f7f7;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 2em;
	position: relative;
	text-align: center;
	width: 100%;
}

.review-card div {
	align-items: center;
	border: 1px solid #547cad;
	border-radius: 50%;
	display: flex;
	height: 100px;
	justify-content: center;
	width: 100px;
}

.review-card p {
	flex-grow: 2;
	font-size: 1em;
	font-style: italic;
}

.review-card span {
	font-size: 1.1em;
	text-align: right;
	width: 100%;
}

.stars {
	margin-top: 1em;
	width: 100px;
}

/* Form */

.form {
	font-size: 1.25em;
	margin-bottom: 2em;
}

.form-head {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.form-head div:first-child {
	margin-top: 0em;
}

.form-head select {
	padding: 1em .5em;
	width: 100%; /* remove on media */
}

.form-contact {
	margin-top: 1em;
	width: 100%;
}

.form-unit {
	margin: 1em 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.form-unit label {
	width: 100%;
	/*width: 25%; on media */
	padding: .5em 0;
}

.form-unit input,
.form-unit textarea,
.form-unit select {
	width: 100%;
	/*width: 75%; on media */
	padding: 1em .5em;
}

.form-unit input, .form-unit textarea, .form-unit select, .form-head select {
	border-radius: 5px;
	border: 2px solid #547cad;
	font-size: inherit;
}

.form-button {
	/*float: right; on media */
	background: #547cad;
	margin-top: 1em;
}

/* Contact details */

.details {
	display: flex;
	flex-direction: column;
}

.details .col2 .col span {
	display: block;
	margin-bottom: .25em;
	text-transform: uppercase;
}

.details .col2 .col:first-child {
	margin-bottom: 2em;
	text-align: center;
}

.map {
	border-radius: .5em;
	margin-top: 2em;
	width: 100%;
}

.width100 {
	width: 100% !important;
}

.remove {
	opacity: 0;
	transition: .2s all ease-out;
	transform: translateY(-100%);
}

.whichspeedy {
	animation: fadein .2s ease-out;
	transition: .2s all ease-out;
}

.form-removals {
	transform: translateY(0);
	transition: all .2s ease-in-out;
}

.up {
	animation: goup .2s ease-in-out;
}

.down {
	animation: godown .2s ease-in-out;
}

@keyframes godown {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes goup {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.back-to-top {
	background: #547cad;
	border: 0;
	color: #f7f7f7;
	font-size: 1.25em;
	font-weight: 900;
	padding: 2em;
	text-align: center;
	width: 100%;
}

/* Footer */

.footer-elem {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.footer-elem h3 {
	width: 100%;
	margin: 0;
	margin-bottom: 1em;
}

.footer-elem:first-child {
	margin-bottom: 2em;
}

/*
.footer-elem >:first-child {
	margin-right: 1em;
}*/

.footer-list {
	font-size: .7em;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer-list img {
	width: 4em;
}

@media (min-width: 467px) {
	.splash-text {
		margin-top: 6em;
	}
}

@media (min-width: 550px) {
	.col {
		width: 50%;
		padding: 0 1em;
	}

	.right {
		justify-content: flex-end;
	}

	.left {
		justify-content: flex-start;
	}

	.col3 {
		width: 33%;
		padding: 0;
	}

	.header .container {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.header-nav {
		transition: .3s all ease-in-out;
		transform: translateX(0);
	}

	.ham-button {
		transition: .3s all ease-in-out;
		transform: translateX(500%)
	}

	.ham-menu {
		display: none;
	}
}

@media (min-width: 768px) {
	.only-desktop { display: initial; }

	.button {
		display: inline-block;
		width: 35%;
		margin: 0 1em;
	}

	.footer-list {
		font-size: 1em;
	}

	.review-card p,
	.review-card span { font-size: 1.25em; }
}