*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
  color: inherit;
}

html {
  font: .75em Tahoma;
  color: #303030;
  box-sizing: border-box;
  background: #f7f7f7;
}

body {
  margin: 0;
  width: 100%;
  min-width: 600px;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.calls {
  position: fixed;
  top: 0;
  left: 2em;
  background: #8AA9CF;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: 1em;
  padding: 1em;
}

.tel {
  display: block;
  font-weight: bold;
}

.top {
  background: #8aa9cf;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.logo { width: 25%; }

.split {
  width: 100%;
  padding: .75em 5em;
  background: #303030;
}

.intro {
  color: #f7f7f7;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.content {
  text-align: center;
  width: 80%;
  margin: auto;
}

.section {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 2em .5em;
}

.sectionimg {
  width: 100%;
}

.title {
  text-transform: uppercase;
  background: #303030;
  color: #f7f7f7;
  font-size: 1.5em;
  margin: 0 0 2em;
  padding: 1em;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  border-top: 1.2em solid #303030;
  margin: auto;
}

.info { text-align: justify; }

.info ul {
  text-align: justify;
  padding-left: 1.25em;
}

.contactwrap {
  padding: 2em;
}

.form {
  width: 30%;
  margin: auto;
}

.form input,
textarea,
button {
  width: 100%;
  text-align: left;
  display: block;
}

.footer {
  width: 100%;
  text-align: center;
}

.footerline {
  background: #8AA9CF;
  width: 100%;
  height: 2.5em;
}
