*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  color: inherit;
  font-family: 'Comfortaa';
}

*:focus { outline: 0; }

html {
  font-size: .75em;
  color: #303030;
  box-sizing: border-box;
  background: #f7f7f7;
}

body {
  margin: 0;
  min-width: 320px;
}

.App {
  text-align: center;
  margin-top: 11em;
}

/* Generic classes */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .7em;
  margin: 1em auto;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  background: #547cad;
  border: .2em solid #e3e273;
  border-radius: 5em;
  box-shadow: 0px 5px 5px #888888;
  transition: .3s;
}

a { 
  text-decoration: none; 
  cursor: pointer;
}

/* Header */

.speedy-header {
  background: #8aa9cf;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  padding: 1em;
  border-bottom: solid .2em #547cad;
  transition: width 1s, height 1s;
}

.speedy-logo {
  width: 20em;
  display: block;
  margin: auto;
  transition: width 1s, height 1s;
}

.speedy-logo-smaller {
  width: 8em;
  transition: width 1s, height 1s;
}

nav {
  text-align: center;
  background: #8aa9cf;
  width: 100%;
  margin-top: 1em;
}

.nav-item {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: .5em;
  font-weight: 900;
}

/* Sections */

.sections-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Content.css */

.section { width: 100%; }

.section-title {
  text-transform: uppercase;
  background: #e3e273;
  border-radius: 0;
  font-weight: 700;
  font-size: 1.1em;
  padding: .5em;
  margin: 0;
}

.section-content {
  padding: 2em;
  transition: 1s all ease;
}

.section-img {
  border-radius: 50%;
  border: .05em solid #547cad;
  width: 80%;
}

.section-info {
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0;
  margin-bottom: 2em;
}

.section-info li { list-style-type: none; }

.section-info li span {
  display: block;
  font-size: .5em;
  margin: 0;
}

.quote { margin: 0 5em; }

.quote-desktop { display: none; }

/* Animations for extra section info below */
/*
.appear-dissapear-appear {
  transform: translateY(-20%);
  opacity: 0;
}

.appear-dissapear-appear.appear-dissapear-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.appear-dissapear-enter {
  transition: all 1s ease-in;
  opacity: 0.01;
}

.appear-dissapear-enter.appear-dissapear-enter-active {
  opacity: 1;
  transition: all 1s ease-in;
}

.appear-dissapear-leave {
  transform: translateY(-100%);
  opacity: 0;
}

.appear-dissapear-leave.appear-dissapear-leave-active {
  
  opacity: 0.01;
  transition: all 1s ease-in;
}*/

/* ------------- */


/* Forms.css */

.forms {
  background: #8aa9cf;
  padding: 1em;
  margin: auto;
  border-top: solid .2em #547cad;
  border-bottom: solid .2em #547cad;
}

.forms * {
  border-radius: .5em;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
  font-family: 'Comfortaa';
}

.form { padding: 0 1em; }

.form select,
.form select option {
  background-color: #8aa9cf;
  border: .2em solid #547cad;
  font-weight: 800;
}

.whichspeedy { margin-top: .5em; }

.form * { margin: .5em 0; }

.form-button {
  border-radius: 5em;
  margin-top: 0;
}

/*-------------- */

.footer {
  background: #8aa9cf;
  width: 100%;
  text-align: center;
}

/* Contact.css */

.contact-speedy {
  background: #f7f7f7;
  margin: 2em 0;
  padding: 0 1em;
}

.contact-tel,
.contact-links {
  text-align: center;
  width: 100%;
}

.button span { margin-right: .5em; }

.contact-tel-span { display: none; }

.footer-contactdetails {
  background: #8aa9cf;
  border-top: solid .2em #547cad;
  border-bottom: solid .2em #547cad;
  padding: 1em;
}

.footer-contactdetails span {
  display: block;
  font-weight: 700;
}

.created {
  background: #f7f7f7;
  display: block;
  padding: .5em;
  margin: 0;
}

/* ----------------- */

@media only screen and (min-width: 577px) {
  
  .section-img { width: 80%; }

}

@media only screen and (min-width: 720px) {

  .App { margin-top: 9.2em; }

  .speedy-logo { width: 22em; }

  .speedy-logo-smaller { width: 12em; }

  nav { display: none; }

  .sections-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .section-title { font-size: 1.5em; }

  .section:nth-child(-n+2) {
    border-right: .01em solid #547cad;
  }

  .section {
    width: 33%;
    flex-grow: 1;
  }

  .section-content {
    padding-bottom: 0;
    line-height: 4em;
    font-size: 1.1em;
  }

  .section-img { width: 15em; }
  
  .section-info {
    line-height: 1.8em;
    margin-bottom: 0;
  }

  .quote-phone { display: none; }

  .quote-desktop {
    display: flex;
    margin: 1em 3em;
    font-size: 1em;
  }

  .form * { width: 33%; }

  .forms {
    padding: 2em 8em;
    display: flex;
    flex-flow: column;
  }

  .form {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form * {
    width: 40%;
    margin: 1em;
  }

  .form textarea { width: 84%; }

  .form-button { width: 50%; }

  .button { font-size: 1.2em; }

  .contact-speedy {
    padding: 0 8em;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-tel {
    width: 83%;
    margin: 0;
  }

  .contact-tel span { display: initial; }

  .contact-links-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  .contact-links {
    margin: 2em 4em;
  }
}

@media only screen and (min-width: 1024px) {

  .App { padding-top: 5.8em; }

  .speedy-logo { width: 40em; }

  .speedy-logo-smaller { width: 20em; }

  .section-title { font-size: 2em; }

  .section-content { font-size: 1.4em; }

  .button { font-size: 1.5em; }

  .forms * { font-size: 1.2em; }

  .form-button { font-size: 1.5em; }

  .contact-tel {
    width: 60%;
    margin: auto;
  }

  .footer-contactdetails { font-size: 1.4em; }

}